body {
width: 100%;
background-color: #212121;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
sans-serif;
}

body, header, nav {
margin: 0px;
}

header {
background-color: #0099CC;
color: white;
padding: 10px 10px;
}

nav {
background-color: #8DC63F;
margin-bottom: 20px;
padding: 5px;
height: 50px;
}

nav ul {
float: left;
}

nav li {
list-style-type: none;
color: white;
margin-left: 25px;
margin-bottom: 10px;
font-size: 1.3em;
float: left;
}

nav li a {
color: white;
font-weight: bold;
text-decoration: none;
}

#name {
font-size: 15px;
font-weight: bold;
font-family: Verdana, sans-serif;
font-stretch: condensed;
margin: 5px;
}
#nameD {
font-size: 15px;
font-weight: bold;
font-family: Verdana, sans-serif;
font-stretch: condensed;
}

#star {
max-width: 30%;
margin: 5px;
}

#price {
color: firebrick;
margin: 5px;
}

#buynow {
color: dodgerblue;
}

.table {
margin-right: 90px;
margin-left: 90px;
text-align: left;
border-bottom: 1px solid black;
display: inline;
}

.tr {
font-size: 25px;
margin: 10px;
}

.p {
margin: 5px;
text-align: left;
}

.h2 {
padding-top: 20px;
padding-bottom: 0px;
font-size: 40px;
text-align: center;
}
.greyrow{
background: #dddddd;
}
table {
border-collapse: collapse;

}

nav li a:hover {
text-decoration: underline;
}
.product-size {
max-width: 60%;
max-height: 60%;
}

section {
clear: both;
display: block;
width: 100%;
margin: 20px auto;
vertical-align: top;
text-align: left;
min-height: 450px;
background-color: #FFF;
border-radius: 7px;
}